/* ***********************************************************************************
 2/7/23: Per LSV-AI.003, this software file contains only CLASS 2 SOFTWARE

 Record of Changes:
 2/7/23: SupComp Rev. 3.0 - SCP ABEMS-2023-001, Modification of ABEMS to the SBS/ABEMS Configuration
      - Added this file in its entirety
************************************************************************************** */

body {
	  min-height: 1rem;
     margin-top: 0px;
     margin-bottom: 0px;
     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
     width: 970px !important;
}

.container { 
   width: 970px !important; 
}

nav {
   margin-top: 4px;
}

.cfs { font-size: 14px;padding:3px;}

.caption {padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   color: #6c757d;
   text-align: left;}

.chg-tbl {
   border-collapse: collapse;
   width:100%;
   margin-bottom:11px;
   height:95px;
}
 
.chg-tbl tr, .chg-tbl td {
   border: 0.5px dotted black;
   font-size:.9em;
   text-align: right;
}

.maxmin {  width: 157px;}
.maxmin th { text-align:center; }
.maxmin td { font-size: 13px; text-align:right; padding-right:7px; }
.maxmin tr { height:21x;}
.maxmin caption { font-size: 14px; padding:0px; font-weight: bold;}

.strrow{ background-color:#f0f9f7; }
.traytbl caption { font-size: 16px; font-weight: bold; width:475px}
.traytbl td { text-align: right;}
.traytbl tr { height:31px; }

.maxminnum td { font-size: .9em; }


.spVal {height:21px; ;}
